.referencia_titulo_productos{
    margin: 0 0 0 5%;
    width: 85%;
    height: 2rem;
    display: flex;
    align-items: center;
}

.contenedor_informacion_productos{
    width: 100%;
    display: flex;
    justify-content: center;
}

.titulos_productos{
    font-weight: 600;
    font-size: .8rem;
}