.producto{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.barra_producto{
    height: 3.5rem;
    align-items: center;
    display: flex;
    border-top: 1px solid #ffffff1e;
}

.contenedor_inputs_producto{
    width: 90%;
}

.contenedor_svg{
    height: auto;
    display: flex;
    justify-content: center;
    width: 5%;
}

.svg_producto{
    width: 2rem;
}

.contenedor_informacion{
    width: 100%;
    height: auto;
    padding: 1rem 0;
    display: flex;
    gap: 1rem;
}

.contenido_informacion_productos{    
    width: 100%;
}

.informacion_producto {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 300px;
    justify-content: center;
}

.contenedor_boton_productos{
    width: 10%;
    display: flex;
    justify-content: space-evenly;
}

.boton_eliminar{
        background-color: rgb(204, 29, 29);
}
.boton_eliminar:hover{
        background-color: rgba(204, 29, 29, 0.671);
}
.boton_actualizar{
        background-color: rgb(226, 164, 93);
}
.boton_actualizar:hover{
        background-color: rgba(226, 164, 93, 0.699);
}

.boton_actualizar,
.boton_eliminar{
    display: flex;
    justify-content: center;
    width: 2rem;
    height: 1.8rem;
    border-radius: 3px;
    transition: .3s;
    svg{
        width: 1.1rem;
    }
}