

.contenedor_producto {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.contenido_producto{
  display: flex;
  margin-bottom: 4rem;
  margin-top: 1rem;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  align-items: center;
}

.contenedor_bienvenida{
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo_bienvenida{
  font-size: 2.5rem;
  font-weight: 660;
}

.parrafo_bienvenida{
  color: var(--color-primary);
}

.producto {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

@media (max-width: 958px) {
  .producto {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 758px) {
  .producto {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 558px) {
  .contenedor_producto{
    width: 100%;
  }
  .producto {
    grid-template-columns: repeat(2, 1fr);
  }
}
