.layout {
  background: 
    linear-gradient(to top, #000000 0%, rgba(0,0,0,0.8) 30%, transparent 60%),
    radial-gradient(
      circle at center,
      #000000 10%,    /* negro en el centro */
      #051a38 30%,    /* azul principal */
      #0b2247 70%,    /* azul más oscuro */
      #000000 100%    /* negro en el borde */
    );
    background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; 
}


.main{
    background-color: transparent;
}